.newsheading{
    font-size: clamp(2.7rem, 5vw, 2.5rem);
    font-weight: bold;
    font-family: auto;
    line-height: 100%;
    white-space: nowrap;

}
.newspargarpha{
    font-size: clamp(0.5rem, 4vw, 1rem);
    font-weight: 900;
    font-family: auto;
    
    

}
.newspargarpha_tow{
    font-size: clamp(0.5rem, 4vw, 0.8rem);
    font-weight: 900;
    font-family: auto;
    
    

}
.news_btn{
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* right: 150px; */
    z-index: 3;
    top: 50px;
}
@media (max-width : 768px ) {
    .news_btn{
        justify-content: space-around;
        align-items: center;
        position: relative;
        right: 0px !important;
        width: 50% !important;
       
        
    }
    .container-with{
        max-width: 100% !important;
    }
}
@media (max-width : 992px ) {
    .news_btn{
       top: -27px;
       
        
    }
}
@media (max-width : 750px ) {
    .news_btn{
        justify-content: space-around;
        align-items: center;
        position: static;
      
        
      font-size: clamp(0.7rem, 4vw, 0.7rem);
    }
}
.new2-imge{
    position: relative;
    z-index: 1;
    max-width: 115%;
}
.right_zero{
    position: relative;
    right: -100px;
    top: 20px;

}
@media (max-width : 950px ) {
    .magrinen{
      margin-top: 0px !important;
    }
}
@media (max-width : 768px ) {
    .new2-imge{
        max-width: 100%;
    }
    .magrinen{
        margin-top: 0px !important;
        padding-left: 0px !important;
        margin-left: 0px !important;
      }
}
.btnines{
    display: grid;
    justify-content: center;
}
.girdidflex{
    display: grid;
    align-items: center;
    padding-left: 20px;
}