.whiteborder {
    border: 1px solid white;
   
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .whiteborder.active {
    box-shadow: 0 4px 10px rgba(135, 206, 235, 0.8); /* Sky blue shadow */
    /* transform: scale(1.02); Optional: Slight scale effect */
  }
  .gap{
    justify-content: space-around;
  }
  