.LowestAsk{
    font-size: small;
    font-family: system-ui;
    font-weight: 400;
    color: gray;
}
.Sportswear{
    color: black;
    font-size: smaller;
}

.ProductImage{
    object-fit: cover;
    width: 40%;
}